<div class="showcase-section">
    <div class="section-title">
        <h2 style="color: #000;">Giao Diện Ứng Dụng</h2>
        <p>Một số màn hình nổi bật của bản MVP v1</p>
    </div>
    <div class="showcase-container">
        <div class="screen-placeholder">
            <div class="screen-box">
                <img src="assets/Demo Screens/My Orders.png" alt="Trang chủ ScrapTech" class="app-img">
            </div>
            <p>Trang chủ</p>
        </div>

        <div class="screen-placeholder">
            <div class="screen-box">
                <img src="assets/Demo Screens/New Order.png" alt="Đặt lịch thu gom" class="app-img">
            </div>
            <p>Trang Đặt lịch</p>
        </div>

        <div class="screen-placeholder">
            <div class="screen-box">
                <img src="assets/Demo Screens/Market price.png" alt="Bảng giá phế liệu" class="app-img">
            </div>
            <p>Bảng giá Real-time</p>
        </div>

        <div class="screen-placeholder">
            <div class="screen-box">
                <img src="assets/Demo Screens/History.png" alt="Quản lý đơn hàng" class="app-img">
            </div>
            <p>Quản lý đơn hàng</p>
        </div>
    </div>
</div>